<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
</head>
<body>
    <h1>회원 가입</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="userid">사용자 ID:</label>
        <input type="text" id="userid" name="userid" required><br><br>

        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required><br><br>

        <label for="check_password">비밀번호 확인:</label>
        <input type="password" id="check_password" name="check_password" required><br><br>

        <label for="email">이메일:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="region">지역:</label>
        <input type="text" id="region" name="region"><br><br>

        <label for="phone_number">전화번호:</label>
        <input type="tel" id="phone_number" name="phone_number"><br><br>

        <input type="submit" value="가입">
    </form>
</body>
</html>
