<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Doctris - Documentation</title>
	    <meta name="description" content="Responsive Bootstrap Personal Template" />
	    <meta name="keywords" content="" />
	    <meta name="author" content="Shreethemes" />
        <meta name="email" content="support@shreethemes.in" />
        <meta name="website" content="https://shreethemes.in" />

	    <!-- favicon -->
        <link rel="shortcut icon" href="images/favicon.ico">
		<!-- Bootstrap core CSS -->
	    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
		<!-- Magnificpopup Css -->
	    <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
	    <!-- Icons -->
        <link href="css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />

	    <!-- Custom  Css -->
	    <link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>

	<body>
		<div class="sidenav shadow bg-white">
			<div class="text-center logo-border border-bottom pt-0 pt-lg-5 pb-0 pb-lg-5">
				<div class="d-none d-lg-inline-block">
					<a class="logo scrollbtn" href="#home">
						<!-- Doctris<span class="text-primary">.</span> -->
						<img src="images/logo-dark.png" height="24" alt="">
					</a>
				</div>	
			</div>	
			<!-- NAVBAR -->
			<nav class="navbar navbar-expand-lg navbar-custom bg-white text-white sticky">
			    <div class="container">
					<a class="logo text-dark d-inline-block d-lg-none scrollbtn" href="#home"><img src="images/logo-dark.png" height="22" alt=""></a>
				    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				        <span class="mdi mdi-menu"></span>
				    </button>

				    <div class="collapse navbar-collapse" id="navbarNav">
				        <ul class="navbar-nav nav flex-column">
				            <li class="nav-item active">
				                <a class="nav-link" href="#intro">Introduction</a>
				            </li>
				            <li class="nav-item">
				                <a class="nav-link" href="#structure">Structure</a>
				            </li>
				            <li class="nav-item">
				                <a class="nav-link" href="#credit">Credits</a>
				            </li>
				            <li class="nav-item">
				                <a class="nav-link" href="#support">Support</a>
				            </li>
				            <li class="nav-item">
				                <a class="nav-link" href="#changelog">Changelog</a>
							</li>
							<li class="nav-item">
				                <a class="nav-link" href="#changes">Changes in scss files & Images</a>
				            </li>
				        </ul>
				    </div>
			    </div>
			</nav>
			<!-- NAVBAR END-->

			<div class="bottom-social social-icon text-center d-none d-lg-inline-block">
				<ul class="list-unstyled icon">
					<li class="list-inline-item"><a href="https://dribbble.com/shreethemes" target="_blank"><i class="mdi mdi-dribbble"></i></a></li>
					<li class="list-inline-item"><a href="https://www.facebook.com/shreethemes/" target="_blank"><i class="mdi mdi-facebook"></i></a></li>
					<li class="list-inline-item"><a href="https://www.instagram.com/shreethemes/" target="_blank"><i class="mdi mdi-instagram"></i></a></li>
					<li class="list-inline-item"><a href="https://twitter.com/shreethemes" target="_blank"><i class="mdi mdi-twitter"></i></a></li>
					<li class="list-inline-item"><a href="mailto:support@shreethemes.in"><i class="mdi mdi-email-outline" title="email"></i></a></li>
				</ul>
			</div>
		</div>

		<div class="main shadow bg-white">

			<!-- Main Title Start -->
			<section class="py-5 mt-lg-0 mt-5 bg-primary" id="home">
				<div class="container mt-lg-0 mt-2">
					<div class="row justify-content-center">
						<div class="col-12">
							<div class="text-center">
								<h3 class="text-white font-weight-bold">Doctris - Doctor appointment booking system</h3>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Main Title End -->
			
			<!-- Intro Start -->
			<section class="section" id="intro">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-title mb-4">
								<h4 class="title">Introduction</h4>
							</div>

							<p class="text-muted"><strong>Doctris</strong> is a clean, modern, creative & responsive HTML template and Admin Dashboard for appointment booking system. It is built with Official latest Bootstrap 5.0.2 and Sass. This can be used for any health-related website such as doctors clinic, hospital, doctor consultation center, cosmetic surgery center, medical laboratory, dental clinic, centenary clinic, pharmacy, etc. Fully responsive design layouts with visitor-centric stunning look and feel will help reach the business’s target audience.</p>
							<p class="text-muted">We have added a <strong>Dark version with RTL supported</strong> in both Light and Dark version.</p>
							<p class="text-muted mb-0">Please feel free to get back to me in case if you are having any question or feedback.</p>
						</div>
					</div>
				</div>
			</section>
			<!-- Intro End -->

			<!-- structure Start -->
			<section class="section bg-light" id="structure">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-title mb-4">
								<h4 class="title">Structure</h4>
							</div>
							<p class="text-muted mb-0">I have tried to follow the standards and modular structure while developing the theme. Following sections are explaining the theme File & Folder, structure, html file struture and plugins.</p>
						
							<h5 class="mt-5 mb-3"><i class="mdi mdi-chevron-right"></i> File & Folder Structure</h5>
							<pre class="prettyprint text-muted bg-white mb-0 border p-4 rounded">
<span class="font-weight-bold h4">Doctris v1.2.0</span>
|
├── <b class="text-primary h5"><i class="mdi mdi-file-document"></i> Landing Template</b>
│   └── Something 38 html pages (All landing pages)
│ 
├── <b class="text-primary h5"><i class="mdi mdi-file-document"></i> Admin Dashboard</b>
│   └── Something 31 html pages (All Admin related pages)
│ 
├── <b class="text-primary h5"><i class="mdi mdi-file-document"></i> assets</b>
    └── Please check the below files (Combine css, js, fonts and images for admin and landing demos)
	├── <b class="text-primary h5"><i class="mdi mdi-folder-open"></i> css/</b>
	│   └── <i class="mdi mdi-file-document"></i> Css Files
	│
	├── <b class="text-primary h5"><i class="mdi mdi-folder-open"></i> fonts/</b>
	│   └── <i class="mdi mdi-file-document"></i> fonts files
	│
	├── <b class="text-primary h5"><i class="mdi mdi-folder-open"></i> images/</b>
	│   └── <i class="mdi mdi-image"></i> All dummy images
	│
	├── <b class="text-primary h5"><i class="mdi mdi-folder-open"></i> scss/</b>
	│   └── <i class="mdi mdi-image"></i> All scss files
	│
	├── <b class="text-primary h5"><i class="mdi mdi-folder-open"></i> php/</b>
	│   └── <i class="mdi mdi-file-document"></i> contact.php file
	│
	└── <b class="text-primary h5"><i class="mdi mdi-folder-open"></i> js/</b>
	    └── <i class="mdi mdi-image"></i> All JS Files</pre>

							<h5 class="mt-5 mb-3"><i class="mdi mdi-chevron-right"></i> HTML Structure</h5>
							<pre class="code mb-0 mt-4 font-weight-bold p-4 bg-white rounded border text-muted">
<span class="text-primary">&lt;!doctype html&gt;</span>
<span class="text-warning">&lt;html lang="en"&gt;</span>
    <span class="text-danger">&lt;head&gt;</span>

        <span class="text-danger">&lt;meta charset="utf-8" /&gt;</span>
        <span class="text-danger">&lt;title&gt;</span><span class="text-primary"> Doctris - Doctor appointment booking system </span><span class="text-danger">&lt;/title&gt;</span>
        <span class="text-danger">&lt;meta name="viewport" content="width=device-width, initial-scale=1.0" /&gt;</span>
        <span class="text-danger">&lt;meta name="description" content="Site description" /&gt;</span>
        <span class="text-danger">&lt;meta name="keywords" content="Your tags" /&gt;</span>

        <span class="text-muted">&lt;!-- favicon icon --&gt;</span>
        <span class="text-info">&lt;link rel="shortcut icon" href="../assets/images/favicon.ico"&gt;</span>

        <span class="text-muted">&lt;!-- Bootstrap --&gt;</span>
        <span class="text-info">&lt;link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" /&gt;</span>

        <span class="text-muted">&lt;!-- Main css --&gt;</span>
        <span class="text-info">&lt;link href="../assets/css/style.css" rel="stylesheet" type="text/css" /&gt;</span>
    
    <span class="text-danger">&lt;/head&gt;</span>

    <span class="text-danger">&lt;body&gt;</span>

        <span class="text-muted">&lt;!-- Loader Start --&gt;</span>
        <span class="text-danger">&lt;div id="#--------"&gt;</span>
            --------
            --------
        <span class="text-danger">&lt;/div&gt;</span>
        <span class="text-muted">&lt;!-- Loader End --&gt;</span>

        <span class="text-muted">&lt;!-- Navbar Start --&gt;</span>
        <span class="text-danger">&lt;header&gt;</span>
            <span class="text-danger">&lt;div class="--------"&gt;</span>
                --------
                --------
                --------
                --------
            <span class="text-danger">&lt;/div&gt;</span>
        <span class="text-danger">&lt;/header&gt;</span>
        <span class="text-muted">&lt;!-- Navbar End --&gt;</span>

        <span class="text-muted">&lt;!-- Hero Start --&gt;</span>
        <span class="text-danger">&lt;section class="--------"&gt;</span>
            <span class="text-danger">&lt;div class="--------"&gt;</span>
                --------
                --------
                --------
                --------
            <span class="text-danger">&lt;/div&gt;</span>
        <span class="text-danger">&lt;/section&gt;</span>
        <span class="text-muted">&lt;!-- Hero End --&gt;</span>

        <span class="text-muted">&lt;!-- Footer Start --&gt;</span>
        <span class="text-danger">&lt;footer&gt;</span>
            <span class="text-danger">&lt;div class="--------"&gt;</span>
                --------
                --------
                --------
                --------
            <span class="text-danger">&lt;/div&gt;</span>
        <span class="text-danger">&lt;/footer&gt;</span>
        <span class="text-muted">&lt;!-- Footer End --&gt;</span>

        <span class="text-muted">&lt;!-- Back To Home Start --&gt;</span>
        <span class="text-danger">&lt;a href="#" class="--------" id="#--------"&gt;</span>
            --------
            --------
        <span class="text-danger">&lt;/a&gt;</span>
        <span class="text-muted">&lt;!-- Back To Home End --&gt;</span>

        <span class="text-muted">&lt;!-- Javascript Start --&gt;</span>
        <span class="text-info">&lt;script src="../assets/js/jquery-3.5.1.min.js"&gt;&lt;/script&gt;</span>
        <span class="text-info">&lt;script src="../assets/js/bootstrap.bundle.min.js"&gt;&lt;/script&gt;</span>
        --------
        --------
        --------
        <span class="text-info">&lt;script src="../assets/js/app.js"&gt;&lt;/script&gt;</span>
        <span class="text-muted">&lt;!-- Javascript End --&gt;</span>
    <span class="text-danger">&lt;/body&gt;</span>
<span class="text-warning">&lt;/html&gt;</span>
                        </pre><!--end pre code-->
							<!-- <img src="images/html.png" class="img-fluid rounded border" alt=""> -->

							<h5 class="mt-5 mb-3"><i class="mdi mdi-chevron-right"></i> CSS</h5>
							<p class="text-muted">Files are explained below: </p>

							<table class="table table-bordered m-0">
								<thead>
									<tr>
										<th style="width: 20%;"><i class="ti-file"></i> File</th>
										<th>Description</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<code>bootstrap.min.css</code>
										</td>
										<td>
											Doctris uses the latest bootstrap v5.0.2. The core bootstrap file is being used in all the pages.
										</td>
									</tr>

									<tr>
										<td>
											<code>style.css</code>
										</td>
										<td>
											This file is containing all common styles for all the pages.
										</td>
									</tr>
									
									<tr>
										<td>
											<code>style-rtl.css</code>
										</td>
										<td>
											In order to have <b>RTL</b> mode enabled, replace the reference of <code class="font-weight-bold">style.css</code> to <code class="font-weight-bold">style-rtl.css</code>
										</td>
									</tr>
									<tr>
										<td>
											<code>style-dark.css</code>
										</td>
										<td>
											In order to have <b>Dark</b> mode enabled, replace the reference of <code class="font-weight-bold">style.css</code> to <code class="font-weight-bold">style-dark.css</code>
										</td>
									</tr>
									<tr>
										<td>
											<code>style-dark-rtl.css</code>
										</td>
										<td>
											In order to have <b>Dark RTL</b> mode enabled, replace the reference of <code class="font-weight-bold">style.css</code> to <code class="font-weight-bold">style-dark-rtl.css</code>
										</td>
									</tr>
								</tbody>
							</table>

							<h5 class="mt-5 mb-3"><i class="mdi mdi-chevron-right"></i> Javascript</h5>
							<p class="text-muted">Files are explained below: </p>

							<table class="table table-bordered m-0">
								<thead>
									<tr>
										<th style="width: 20%;"><i class="ti-file"></i> File</th>
										<th>Description</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<code>bootstrap.bundle.min.js</code>, etc.
										</td>
										<td>
											These files are used at core of the theme.
										</td>
									</tr>
									<tr>
										<td>
											<code>app.js</code>
										</td>
										<td>
											This is a main js file. It contains the custom JS code needed for features including
											layout, sidebar, etc.
										</td>
									</tr>
								</tbody>
							</table>

							<!-- <h5 class="mt-5 mb-3"><i class="mdi mdi-chevron-right"></i> Menu</h5>
							<p class="text-muted">Some changes like that: </p>

							<h6>1) Menu Center to Right</h6>
							<p class="h6 text-muted"><i class="mdi mdi-arrow-right mr-2"></i>To move menu from center to right side then just add class <code>navigation-menu</code> along with <code>nav-right</code>.</p>
							<div class="row">
								<div class="col-12 mt-3">
									<h6 class="mb-3">Navbar Center</h6>
									<img src="images/nav-center.png" class="img-fluid rounded shadow" alt="">
								</div>
								<div class="col-12 mt-3">
									<h6 class="mb-3">Navbar Right</h6>
									<img src="images/nav-right.png" class="img-fluid rounded shadow" alt="">
								</div>
							</div>

							<h6 class="mt-5">2) Menu Center to Left</h6>
							<p class="h6 text-muted"><i class="mdi mdi-arrow-right mr-2"></i>To move menu from center to Left side then just add class <code>navigation-menu</code> along with <code>nav-left</code>.</p>
							<div class="row">
								<div class="col-12 mt-3">
									<h6 class="mb-3">Navbar Left</h6>
									<img src="images/nav-left.png" class="img-fluid rounded shadow" alt="">
								</div>
							</div>

							<h6 class="mt-5">3) Menu Light</h6>
							<p class="h6 text-muted"><i class="mdi mdi-arrow-right mr-2"></i>If you want menu center and light navigation just add class <code>navigation-menu</code> along with <code>nav-light</code>.</p>
							<div class="row">
								<div class="col-12 mt-3">
									<h6 class="mb-3">Navbar Light with Center</h6>
									<img src="images/nav-light-center.png" class="img-fluid rounded shadow" alt="">
								</div>
								<div class="col-12 mt-3">
									<h6>Navbar Light with Right</h6>
									<p class="h6 text-muted mb-3"><i class="mdi mdi-arrow-right mr-2"></i>If you want menu right side and light navigation just add class <code>navigation-menu nav-right</code> along with <code>nav-light</code>.</p>
									<img src="images/nav-light-right.png" class="img-fluid rounded shadow" alt="">
								</div>
								<div class="col-12 mt-3">
									<h6>Navbar Light with Left</h6>
									<p class="h6 text-muted mb-3"><i class="mdi mdi-arrow-right mr-2"></i>If you want menu left side and light navigation just add class <code>navigation-menu nav-left</code> along with <code>nav-light</code>.</p>
									<img src="images/nav-light-left.png" class="img-fluid rounded shadow" alt="">
								</div>
							</div> -->
							

							<h5 class="mt-5 mb-3"><i class="mdi mdi-chevron-right"></i> Loader</h5>
							<p class="text-muted">To add <code>loader</code> you need to add the below code after the <code>&lt;body&gt;</code> tag.</p>
							<div class="bg-white p-4 border rounded">
								<code class="text-danger">
									&lt;-- loader start --&gt;<br>
									&lt;div id="preloader""&gt;<br>&nbsp;&nbsp;
									&lt;div id="status"&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;
									&lt;div class="spinner"&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&lt;div class="double-bounce1"&gt;&lt;/div&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&lt;div class="double-bounce2"&gt;&lt;/div&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;
									&lt;/div&gt;<br>&nbsp;&nbsp;
									&lt;/div&gt;<br>
									&lt;/div&gt;<br>
									&lt;-- loader end --&gt; 
								</code>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- structure End -->

			<!-- credit Start -->
			<section class="section" id="credit">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-title mb-4">
								<h4 class="title">Credits & Official Documentation</h4>
							</div>
							<p class="text-muted">We've used the following resources as listed. These are some awesome creation and we are thankful to the community.</p>

							<ul class="list-unstyled mb-0 mt-4 credit-links">
								<li><i class="mdi mdi-arrow-right text-primary mr-2"></i><a href="https://getbootstrap.com/" rel="nofollow" class="text-dark h6" target="_blank">Bootstrap v5.0.2</a></li>
								<li><i class="mdi mdi-arrow-right text-primary mr-2"></i><a href="https://jquery.com/" rel="nofollow" class="text-dark h6" target="_blank">Jquery</a></li>
								<li><i class="mdi mdi-arrow-right text-primary mr-2"></i><a href="https://feathericons.com/" rel="nofollow" class="text-dark h6" target="_blank">Feather Icons</a></li>
								<li><i class="mdi mdi-arrow-right text-primary mr-2"></i><a href="https://materialdesignicons.com/" rel="nofollow" class="text-dark h6" target="_blank">Material Design Icons</a></li>
								<li><i class="mdi mdi-arrow-right text-primary mr-2"></i><a href="https://iconscout.com/unicons" rel="nofollow" class="text-dark h6" target="_blank">Iconscout Icons</a></li>
								<li><i class="mdi mdi-arrow-right text-primary mr-2"></i><a href="http://owlgraphic.com/owlcarousel/" rel="nofollow" class="text-dark h6" target="_blank">Owl Carousel</a></li>
								<li><i class="mdi mdi-arrow-right text-primary mr-2"></i><a href="http://www.idangero.us/swiper/" rel="nofollow" class="text-dark h6" target="_blank">Swiper Slider</a></li>
								<li><i class="mdi mdi-arrow-right text-primary mr-2"></i><a href="http://kenwheeler.github.io" rel="nofollow" class="text-dark h6" target="_blank">Slick Slider</a></li>
								<li><i class="mdi mdi-arrow-right text-primary mr-2"></i><a href="https://stories.freepik.com/" rel="nofollow" class="text-dark h6" target="_blank">Stories Illustrations Images</a></li>
								<li><i class="mdi mdi-arrow-right text-primary mr-2"></i><a href="https://isometric.online/" rel="nofollow" class="text-dark h6" target="_blank">Isometric Illustrations Images</a></li>
								<li><i class="mdi mdi-arrow-right text-primary mr-2"></i><a href="https://flatpickr.js.org/" rel="nofollow" class="text-dark h6" target="_blank">Flatpickr - Datepicker</a></li>
								<li><i class="mdi mdi-arrow-right text-primary mr-2"></i><a href="https://apexcharts.com/docs/installation/" rel="nofollow" class="text-dark h6" target="_blank">ApexCharts</a></li>
								<li><i class="mdi mdi-arrow-right text-primary mr-2"></i><a href="https://ckeditor.com/" rel="nofollow" class="text-dark h6" target="_blank">CK Editor</a></li>
								<li><i class="mdi mdi-arrow-right text-primary mr-2"></i><a href="https://fullcalendar.io/" rel="nofollow" class="text-dark h6" target="_blank">fullcalendar</a></li>
								<li><i class="mdi mdi-arrow-right text-primary mr-2"></i><a href="http://timepicker.co" rel="nofollow" class="text-dark h6" target="_blank">jQuery Timepicker</a></li>
								<li><i class="mdi mdi-arrow-right text-primary mr-2"></i><a href="https://github.com/select2/select2/blob/master/LICENSE.md" rel="nofollow" class="text-dark h6" target="_blank">select2</a></li>
								<li><i class="mdi mdi-arrow-right text-primary mr-2"></i><a href="https://grsmto.github.io/simplebar/" rel="nofollow" class="text-dark h6" target="_blank">SimpleBar</a></li>
								<li><i class="mdi mdi-arrow-right text-primary mr-2"></i><a href="https://ganlanyuan.github.io/tiny-slider/demo/" rel="nofollow" class="text-dark h6" target="_blank">Tiny slider</a></li>
								<li><i class="mdi mdi-arrow-right text-primary mr-2"></i><a href="https://www.freepik.com/home" rel="nofollow" class="text-dark h6" target="_blank">Freepic Images</a></li>
								<li><i class="mdi mdi-arrow-right text-primary mr-2"></i><a href="https://unsplash.com/" rel="nofollow" class="text-dark h6" target="_blank">Unsplash Images</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- credit End -->

			<!-- support Start -->
			<section class="section bg-light" id="support">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-title mb-4">
								<h4 class="title">Supports</h4>
							</div>
							<p class="text-muted">Once again thank you for your purchase. I'll be happy to answer the the questions you have related to the theme. In case if you have any suggestion or feature, request please feel free to contact me, I'll try to implement it and will release as part of future updates.</p>
							<p class="text-muted">If you have any questions that are beyond the scope of this documentation, please feel free to email or contact us via my page.</p>
							<p class="text-muted">Stay awesome</p>
							<h6 class="mb-0 text-primary">- Shreethemes</h6>
						</div>
					</div>
				</div>
			</section>
			<!-- support End -->

			<!-- changelog Start -->
			<section class="section" id="changelog">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-title mb-4">
								<h4 class="title">Changelog</h4>
							</div>

							<!-- V1.2.0 Start -->
							<div class="mt-4">
								<p><span class="font-weight-bold text-primary">Version v1.2.0 </span> -<span class="text-muted"> 14th July 2021</span></p>
											 
								<ul class="list-unstyled">
									<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i><span class="font-weight-bold">Update :</span> Update Latest Bootstrap v5.0.2</li>
									<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i><span class="font-weight-bold">Update :</span> Update Latest Jquery v3.6.0</li>
									<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i><span class="font-weight-bold">Update :</span> Update Latest Apex charts</li>
									<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i><span class="font-weight-bold">Update :</span> Update Latest Material Design Icons</li>
									<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i><span class="font-weight-bold">Update :</span> Update Latest CK Editor JS</li>
									<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i><span class="font-weight-bold">Update :</span> Update css, js, images, and scss in generate one combine folder <b class="text-success">assets</b></li>
									<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i>New <span class="text-success">RTL Version</span> (Only CSS Base)</li>
									<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i>New <span class="text-success">Dark Version</span> (Only CSS Base)</li>
									<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i>New <span class="text-success">Dark RTL Version</span> (Only CSS Base)</li>
									<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i><span class="font-weight-bold">Fixed :</span> Fixed some responsive and menu issues</li>
									<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i><span class="font-weight-bold">Fixed :</span> Fixed and remove source map warnings</li>
								</ul>
							</div>
							<!-- V1.2.0 Start -->

							<!-- V1.0 Start -->
							<div class="mt-4">
								<p><span class="font-weight-bold text-primary">Version v1.0 </span> -<span class="text-muted"> 20th January 2021</span></p>
											 
								<ul class="list-unstyled">
									<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i> Initial Released</li>
								</ul>
							</div>
							<!-- V1.0 Start -->
						</div>
					</div>
				</div>
			</section>
			<!-- changelog End -->

			<!-- Changes Start -->
			<section class="section bg-light" id="changes">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-title mb-4">
								<h4 class="title">Changes in SCSS files <span class="badge badge-pill badge-danger mr-1">v1.2</span></h4>
								<p class="text-muted para-desc mb-0">Some minor css remove and add new css and changes CSS in SCSS files are here,</p>
							</div>

							<ul class="list-unstyled">
								<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i>_blog.scss</li>
								<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i>_bootstrap-custom.scss</li>
								<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i>_calendar.scss</li>
								<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i>_chat.scss</li>
								<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i>_components.scss</li>
								<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i>_contact.scss</li>
								<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i>_cta.scss</li>
								<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i>_features.scss</li>
								<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i>_footer.scss</li>
								<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i>_general.scss</li>
								<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i>_helper.scss</li>
								<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i>_home.scss</li>
								<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i>_menu.scss</li>
								<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i>_shop.scss</li>
								<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i>_simplebar.scss</li>
								<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i>_team.scss</li>
								<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i>_testi.scss</li>
								<li class="h6"><i class="mdi mdi-arrow-right mr-2"></i>_variables.scss</li>
							</ul>
							<p class="text-muted mb-0"><span class="text-danger h6 mb-0">Note:</span> Full folder replace Dark version scss and RTL version scss</p>
						</div>
					</div>
				</div>
			</section>
			<!-- Changes End -->

			<!-- Thankyou Start -->
			<section class="py-3 bg-primary">
				<div class="container mt-lg-0 mt-2">
					<div class="row justify-content-center">
						<div class="col-12">
							<div class="text-center">
								<h5 class="text-white">Thank you very much for your purchase !</h5>
								<h6 class="text-white-50 mb-0">Note: Please rate this item if you like it ! <a href="https://themeforest.net/downloads" target="_blank" class="text-warning">CLICK <i class="mdi mdi-arrow-right"></i></a></h6>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Thankyou End -->

			<!-- Footer Start -->
			<footer class="bg-dark py-5">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Doctris. Design with <i class="mdi mdi-heart text-danger"></i> by <a href="http://www.shreethemes.in" target="_blank" class="text-success">Shreethemes</a>.</p>
						</div>
					</div>
				</div>
			</footer>
			<!-- Footer End -->

			<!-- JAVASCRIPTS -->
		    <script src="js/jquery.min.js"></script>
			<script src="js/bootstrap.bundle.min.js"></script>
			<script src="js/jquery.easing.min.js"></script>
			<script src="js/scrollspy.min.js"></script>
		    <!-- Custom -->
			<script src="js/app.js"></script>
		</div>		
	</body>
</html>